
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Configuration.UserPrefix.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Cidob.Configuration.UserPrefixGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>