<link href="/Content/themes/cidob/cidob.css" rel="stylesheet" type="text/css" />

<div id="~_Toolbar" class="s-DialogToolbar">
</div>
<div id="~_Tabs" class="s-DialogContent">
    <ul>
        <li><a href="#~_TabInfo"><span>{{text:"Db.Templates.OnlineTemplate.EntityPlural"}}</span></a></li>
        <li><a href="#~_TabFeet"><span>{{text:"Db.Templates.OnlineFeet.EntityPlural"}}</span></a></li>
    </ul>
    <div id="~_TabInfo" class="tab-pane s-TabInfo">
        <div class="s-Form">
            <form id="~_Form" action="">
                <div class="fieldset">
                    <div id="~_PropertyGrid"></div>
                </div>
            </form>
        </div>
    </div>
    <div id="~_TabFeet" class="tab-pane s-TabCustomer">
        <div id="~_FeetToolbar" class="s-DialogToolbar">
        </div>
        <div class="s-Form">
            <form id="~_FeetForm" action="">
                <div class="fieldset">
                    <div id="~_FeetPropertyGrid"></div>
                    <div class="clear"></div>
                </div>
            </form>
        </div>
    </div>
</div>
