<link rel="stylesheet" href="/Content/onlineTemplate/onlineTemplate.css"/>

<div id="~_Tabs" class="s-DialogContent">
    <div id="~_TabInfo" class="tab-pane s-TabInfo">
        <div id="~_Toolbar" class="s-DialogToolbar">
        </div>
    </div>
</div>

<div class="container">
<div class="row">
<div class="col-md-4">
    <div class="box">
        <div class="form-group row">
            <label for="referencia" class="col-xs-4 col-form-label">Referencia</label>
            <div class="col-md-8">
                <input class="form-control" type="text" id="txtReference" placeholder="p. ej. 123-123456" maxlength="10" minlength="10">
            </div>
        </div>
        <div class="form-group input-group-sm row">
            <label for="number" class="col-md-4 col-form-label">Numero</label>
            <div class="col-md-8">
                <input class="form-control" type="number" id="txtNumber">
            </div>
        </div>
        <div class="form-group input-group-md row">
            <label for="fullName" class="col-md-4 col-form-label">Nombre</label>
            <div class="col-md-8">
                <input class="form-control" type="text" id="txtName">
            </div>
        </div>
        <div class="form-group input-group-md row">
            <label for="age" class="col-md-4 col-form-label">Edad</label>
            <div class="col-md-8">
                <input class="form-control" type="text" id="txtAge">
            </div>
        </div>
        <div class="form-group input-group-md row">
            <label for="entity" class="col-md-4 col-form-label">Entidad</label>
            <div class="col-md-8">
                <input class="form-control" type="text" id="txtEntity">
            </div>
        </div>
        <div class="form-check">
            <label class="form-check-label" for="chkUrgent">
                <input class="form-check-input" type="checkbox" name="status" id="chkUrgent">
                Urgente
            </label>
            <button type="submit" class="btn btn-primary btn-xs pull-right" id="btnSearch" tabindex="-1">Buscar</button>
        </div>

    </div>
    <div class="box">
        <h4 class="text-center">Favoritos</h4>
        <ul class="list-checkbox" id="liFeaturedTemplates">
            <!--<li>
                <input class="form-check-input" type="checkbox" value="" id="test3">
                <label class="form-check-label" for="test3">
                    Ambos 6
                </label>
            </li>-->
        </ul>
        <div class="row">
            <div class="col-md-4 text-center">
                <button type="submit" class="btn btn-success btn-sm" tabindex="-1">Guardar</button>
            </div>
            <div class="col-md-4 text-center">
                <button type="submit" class="btn btn-primary btn-sm" tabindex="-1">Cargar</button>
            </div>
            <div class="col-md-4 text-center">
                <button type="submit" class="btn btn-danger btn-sm" id="btnFeaturedTemplateDelete" tabindex="-1">Eliminar</button>
            </div>
        </div>
    </div>
</div>
<div class="col-md-8">
<div class="box">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group row">
                <label for="genere" class="col-md-4 col-form-label">Sexo</label>
                <div class="col-md-8">
                    <select class="form-control" id="cmbGender">
                    </select>
                </div>
            </div>
            <div class="form-group input-group-sm row">
                <label for="base" class="col-md-4 col-form-label">Base <span class="pull-right">
                        <input class="form-check-input" type="checkbox" name="status" id="chk34">3/4</span></label>
                <div class="col-md-8">
                    <select class="form-control" id="cmbBase">
                    </select>
                </div>
            </div>
            <div class="form-group input-group-sm row">
                <label for="base" class="col-md-4 col-form-label">Horma</label>
                <div class="col-md-8">
                    <select class="form-control" id="cmbShape">
                    </select>
                </div>
            </div>
            <div class="form-group input-group-sm row">
                <label for="base" class="col-md-4 col-form-label">Cobertura</label>
                <div class="col-md-8">
                    <select class="form-control" id="cmbCover">
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-check text-center">
                <label class="form-check-label" for="pies">
                    <input class="form-check-input" checked="" type="radio" name="status" id="rdFootBoth">
                    Ambos pies
                </label>
            </div>
            <div class="border">
                <div class="form-check text-center">
                    <label class="form-check-label" for="selc">
                        <input class="form-check-input" type="radio" name="status" id="rdFootSingle">
                        Seleccion individual
                    </label>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-check text-center">
                            <label class="form-check-label" for="izq">
                                <input class="form-check-input" type="checkbox" name="status" id="chkFootLeft">
                                Izq
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-check text-center">
                            <label class="form-check-label" for="der">
                                <input class="form-check-input" type="checkbox" name="status" id="chkFootRight">
                                Der
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="box">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-10">
                    <h4>Ambos</h4>
                    <div class="form-group row">
                        <label for="" class="col-md-3 col-form-label">Medial Interno</label>
                        <div class="col-md-7">
                            <select class="form-control" id="cmbInternalMedial"></select>
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" type="text" id="txtInternalMedial" value="0">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-md-3 col-form-label">Medial Externo</label>
                        <div class="col-md-7">
                            <select class="form-control" id="cmbExternalMedial"></select>
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" type="text" id="txtExternalMedial" value="0">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-md-3 col-form-label">Metatarsal</label>
                        <div class="col-md-7">
                            <select class="form-control" id="cmbOlive"></select>
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" type="text" id="txtMetatarsal" value="0">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-md-3 col-form-label">C.T</label>
                        <div class="col-md-7">
                            <select class="form-control" id="cmbCt"></select>
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" type="text" id="txtCt" value="0">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-md-3 col-form-label">R.A</label>
                        <div class="col-md-7">
                            <select class="form-control" id="cmbRa"></select>
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" type="text" id="txtRa" value="0">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-md-3 col-form-label">Talon</label>
                        <div class="col-md-7">
                            <select class="form-control" id="cmbHeel"></select>
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" type="text" id="txtHeel" value="0">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-md-3 col-form-label">Barra MTT</label>
                        <div class="col-md-3 text-center">
                            <input class="form-check-input" type="checkbox" name="" id="chkSingle">
                            Simple
                        </div>
                        <div class="col-md-3">
                            <input class="form-check-input" type="checkbox" name="" id="chkDouble">
                            Doble
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-md-3 col-form-label">Barras</label>
                        <div class="col-md-1 text-center checkbox">
                            <input class="form-check-input" type="checkbox" name="" id="chkBar1">
                            1
                        </div>
                        <div class="col-md-1 text-center checkbox">
                            <input class="form-check-input" type="checkbox" name="" id="chkBar2">
                            2
                        </div>
                        <div class="col-md-1 text-center checkbox">
                            <input class="form-check-input" type="checkbox" name="" id="chkBar3">
                            3
                        </div>
                        <div class="col-md-1 text-center checkbox">
                            <input class="form-check-input" type="checkbox" name="" id="chkBar4">
                            4
                        </div>
                        <div class="col-md-1 text-center checkbox">
                            <input class="form-check-input" type="checkbox" name="" id="chkBar5">
                            5
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-md-3 col-form-label">Cuello</label>
                        <div class="col-md-1 text-center checkbox">
                            <input class="form-check-input" type="checkbox" name="" id="chkNeck1">
                            1
                        </div>
                        <div class="col-md-1 text-center checkbox">
                            <input class="form-check-input" type="checkbox" name="" id="chkNeck2">
                            2
                        </div>
                        <div class="col-md-1 text-center checkbox">
                            <input class="form-check-input" type="checkbox" name="" id="chkNeck3">
                            3
                        </div>
                        <div class="col-md-1 text-center checkbox">
                            <input class="form-check-input" type="checkbox" name="" id="chkNeck4">
                            4
                        </div>
                        <div class="col-md-1 text-center checkbox">
                            <input class="form-check-input" type="checkbox" name="" id="chkNeck5">
                            5
                        </div>
                        <div class="col-md-2 text-center checkbox">
                            <input class="form-check-input" type="checkbox" name="" id="chkNeckBack">
                            Cuello Atras
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-md-3 col-form-label">Apoyo Digital</label>
                        <div class="col-md-3">
                            <select class="form-control" id="cmbDigital"></select>
                        </div>
                        <label for="" class="col-md-3 col-form-label">Adaptar a numero</label>
                        <div class="col-md-3">
                            <input class="form-control" type="text" id="txtAddaptToNumber" value="0">
                        </div>
                    </div>
                    <hr>

                    <div class="form-group input-group-sm row">
                        <label for="" class="col-md-3 col-form-label">Observaciones</label>
                        <div class="col-md-7">
                            <input class="form-control" type="text" id="txtObservation1">
                            <input class="form-control" type="text" id="txtObservation2">
                        </div>
                        <div class="col-md-2">
                            <label for="" class="col-form-label">Cantidad</label>
                            <input class="form-control" type="text" id="txtQuantity" value="1">
                        </div>
                    </div>
                </div>
                <div class="col-md-2 colPaddingTop">
                    <button type="submit" class="btn btn-info float-right" id="btnClear">Limpiar</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>