{
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=.\\SQLEXPRESS; Initial Catalog=Cidob_Default_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.Brand",
                    "Identifier": "Group",
                    "Module": "MasterData",
                    "ConnectionKey": "Default",
                    "PermissionKey": "MasterData:Group"
                },
                {
                    "Tablename": "dbo.Product",
                    "Identifier": "Product",
                    "Module": "MasterData",
                    "ConnectionKey": "Default",
                    "PermissionKey": "MasterData:Product"
                },
                {
                    "Tablename": "dbo.Arch",
                    "Identifier": "Arch",
                    "Module": "MasterData",
                    "ConnectionKey": "Default",
                    "PermissionKey": "MasterData:Arch"
                },
                {
                    "Tablename": "dbo.Base",
                    "Identifier": "Base",
                    "Module": "MasterData",
                    "ConnectionKey": "Default",
                    "PermissionKey": "MasterData:Base"
                },
                {
                    "Tablename": "dbo.Cover",
                    "Identifier": "Cover",
                    "Module": "MasterData",
                    "ConnectionKey": "Default",
                    "PermissionKey": "MasterData:Cover"
                },
                {
                    "Tablename": "dbo.TransversalArch",
                    "Identifier": "TransversalArch",
                    "Module": "MasterData",
                    "ConnectionKey": "Default",
                    "PermissionKey": "MasterData:TransversalArch"
                },
                {
                    "Tablename": "dbo.Base_TransversalArch",
                    "Identifier": "BaseTransversalArch",
                    "Module": "MasterData",
                    "ConnectionKey": "Default",
                    "PermissionKey": "MasterData:TransversalArch"
                },
                {
                    "Tablename": "dbo.CT",
                    "Identifier": "Ct",
                    "Module": "MasterData",
                    "ConnectionKey": "Default",
                    "PermissionKey": "MasterData:CT"
                },
                {
                    "Tablename": "dbo.Digital",
                    "Identifier": "Digital",
                    "Module": "MasterData",
                    "ConnectionKey": "Default",
                    "PermissionKey": "MasterData:Digital"
                },
                {
                    "Tablename": "dbo.Heel",
                    "Identifier": "Heel",
                    "Module": "MasterData",
                    "ConnectionKey": "Default",
                    "PermissionKey": "MasterData:Heel"
                },
                {
                    "Tablename": "dbo.Olive",
                    "Identifier": "Olive",
                    "Module": "MasterData",
                    "ConnectionKey": "Default",
                    "PermissionKey": "MasterData:Olive"
                },
                {
                    "Tablename": "dbo.RA",
                    "Identifier": "Ra",
                    "Module": "MasterData",
                    "ConnectionKey": "Default",
                    "PermissionKey": "MasterData:RA"
                },
                {
                    "Tablename": "dbo.Shape",
                    "Identifier": "Shape",
                    "Module": "MasterData",
                    "ConnectionKey": "Default",
                    "PermissionKey": "MasterData:Shape"
                },
                {
                    "Tablename": "dbo.Template",
                    "Identifier": "Template",
                    "Module": "MasterData",
                    "ConnectionKey": "Default",
                    "PermissionKey": "MasterData:Template"
                },
                {
                    "Tablename": "dbo.TemplateType",
                    "Identifier": "TemplateType",
                    "Module": "MasterData",
                    "ConnectionKey": "Default",
                    "PermissionKey": "MasterData:TemplateType"
                },
                {
                    "Tablename": "dbo.Base_Arch",
                    "Identifier": "BaseArch",
                    "Module": "Relationship",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Relationship:Base-Arch"
                },
                {
                    "Tablename": "dbo.Base_Cover",
                    "Identifier": "BaseCover",
                    "Module": "Relationship",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Relationship:Base-Cover"
                },
                {
                    "Tablename": "dbo.Base_Group",
                    "Identifier": "BaseGroup",
                    "Module": "Relationship",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Relationship:Base-Group"
                },
                {
                    "Tablename": "dbo.Base_Shape",
                    "Identifier": "BaseShape",
                    "Module": "Relationship",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Relationship:Base-Shape"
                }
            ]
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\Cidob\\Cidob.Web\\Cidob.Web.csproj",
    "RootNamespace": "Cidob",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "GenerateSSImports": false,
    "GenerateTSTypings": true,
    "GenerateTSCode": true,
    "RowFieldsSurroundWithRegion": false,
    "GenerateRow": true,
    "GenerateColumn": true,
    "GenerateForm": true,
    "GenerateEndpoint": true,
    "GenerateRepository": true,
    "GeneratePage": true,
    "GenerateGrid": true,
    "GenerateDialog": true,
    "GenerateGridEditor": true,
    "GenerateGridEditorDialog": true,
    "GenerateLookupEditor": true,
    "MaximizableDialog": false
}