{
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=.\\SQLEXPRESS; Initial Catalog=Cidob_Default_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.Brand",
                    "Identifier": "Group",
                    "Module": "MasterData",
                    "ConnectionKey": "Default",
                    "PermissionKey": "MasterData:Group"
                },
                {
                    "Tablename": "dbo.Product",
                    "Identifier": "Product",
                    "Module": "MasterData",
                    "ConnectionKey": "Default",
                    "PermissionKey": "MasterData:Product"
                },
                {
                    "Tablename": "dbo.Arch",
                    "Identifier": "Arch",
                    "Module": "MasterData",
                    "ConnectionKey": "Default",
                    "PermissionKey": "MasterData:Arch"
                },
                {
                    "Tablename": "dbo.Base",
                    "Identifier": "Base",
                    "Module": "MasterData",
                    "ConnectionKey": "Default",
                    "PermissionKey": "MasterData:Base"
                },
                {
                    "Tablename": "dbo.Cover",
                    "Identifier": "Cover",
                    "Module": "MasterData",
                    "ConnectionKey": "Default",
                    "PermissionKey": "MasterData:Cover"
                },
                {
                    "Tablename": "dbo.TransversalArch",
                    "Identifier": "TransversalArch",
                    "Module": "MasterData",
                    "ConnectionKey": "Default",
                    "PermissionKey": "MasterData:TransversalArch"
                },
                {
                    "Tablename": "dbo.Base_TransversalArch",
                    "Identifier": "BaseTransversalArch",
                    "Module": "MasterData",
                    "ConnectionKey": "Default",
                    "PermissionKey": "MasterData:TransversalArch"
                }
            ]
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\Cidob\\Cidob.Web\\Cidob.Web.csproj",
    "RootNamespace": "Cidob",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "GenerateSSImports": false,
    "GenerateTSTypings": true,
    "GenerateTSCode": true,
    "RowFieldsSurroundWithRegion": false,
    "GenerateRow": true,
    "GenerateColumn": true,
    "GenerateForm": true,
    "GenerateEndpoint": true,
    "GenerateRepository": true,
    "GeneratePage": true,
    "GenerateGrid": true,
    "GenerateDialog": true,
    "GenerateGridEditor": true,
    "GenerateGridEditorDialog": true,
    "GenerateLookupEditor": false,
    "MaximizableDialog": true
}