
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.MasterData.TransversalArch.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Cidob.MasterData.TransversalArchGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>