
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Relationship.BaseCover.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Cidob.Relationship.BaseCoverGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>