@import "site.theme.less";
@import "site.mixins.less";
@import "site.administration.less";
@import "site.membership.less";
@import "site.templates.less";
.cacho{

}
.s-MasterData-BrandDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-MasterData-ProductDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-MasterData-ArchDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-MasterData-ArchDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-MasterData-ArchDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-MasterData-ArchDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-MasterData-ArchDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-MasterData-BaseDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-MasterData-CoverDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-MasterData-CoverDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-MasterData-TransversalArchDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-MasterData-BaseDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-MasterData-BaseDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-MasterData-BaseDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-MasterData-BaseDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Default-BaseGroupDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-MasterData-BaseGroupDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-MasterData-GroupDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-MasterData-GroupDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-MasterData-ArchDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-MasterData-ProductDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-MasterData-BaseDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-MasterData-CoverDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Default-BaseTransversalArchDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-MasterData-BaseTransversalArchDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-MasterData-TransversalArchDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-MasterData-BaseDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-MasterData-CtDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-MasterData-CtDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-MasterData-DigitalDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-MasterData-HeelDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-MasterData-OliveDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-MasterData-RaDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-MasterData-ShapeDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-MasterData-TemplateDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-MasterData-TemplateTypeDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Relationship-BaseArchDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Relationship-BaseArchDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Relationship-BaseCoverDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Relationship-BaseGroupDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Relationship-BaseShapeDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Templates-OnlineTemplateDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-MasterData-GenderDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Templates-OnlineTemplateDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-MasterData-ArchDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-MasterData-DigitalDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Templates-OnlineFeetDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Templates-OnlineTemplateDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Templates-OnlineTemplateDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Templates-OnlineFeetDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Configuration-SettingDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Templates-OnlineFeetDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Synchro-SynchronizationDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Synchro-SynchronizationDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Configuration-UserPrefixDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Configuration-UserPrefixDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Configuration-UserPrefixDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Configuration-UserPrefixDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Configuration-UserPrefixDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Configuration-UserPrefixDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}