
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.MasterData.Digital.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Cidob.MasterData.DigitalGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>