
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Synchro.Synchronization.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Cidob.Synchro.SynchronizationGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>