
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Templates.OnlineFeet.EntityPlural");
}
<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Cidob.Templates.OnlineFeetGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>